body{background-color:black;
     color:#efecec;
	 background-size:100%;
}

p{
	font-size:24px;
	font-weight:lighter;
}

h1{
	font-size:35px;
	font-weight:lighter;
}

h2{
	font-size:30px;
	font-weight:lighter;
}
	 
h3{
	font-size:28px;
	font-weight:lighter;
}
h4{
	font-size:26px;
	font-weight:lighter;

}
table{
	border:1px solid white;
	border-collapse: collapse;
}
th,td {
  text-align: center;
  padding:15px;
  font-weight:lighter;
}

th{
	background-color: green;
	font-weight:lighter;
}

 
.homebuttonactive {
  position: absolute;
  top: 10px;
  left:0px;
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.homebutton {
  position: absolute;
  top: 10px;
  left:0px;
  border: none;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 60px;
  text-align: center;	
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.homebutton:hover {
  background-color: #666;
  color: white;
}


.rocketsbutton {
  position: absolute;
  top: 10px;
  left : 250px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.rocketsbuttonactive {
  position: absolute;
  top: 10px;
  left : 250px;
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.rocketsbutton:hover {
  background-color: #666;
  color: white;
}


.astrophysicsbutton {
  position: absolute;
  top: 10px;
  left : 500px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.astrophysicsbuttonactive {
  position: absolute;
  top: 10px;
  left : 500px;
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.astrophysicsbutton:hover {
  background-color: #666;
  color: white;
}


.articlesbutton {
  position: absolute;
  top: 10px;
  left : 750px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.articlesbuttonactive {
  position: absolute;
  top: 10px;
  left : 750px;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;	
}

.articlesbutton:hover {
  background-color: #666;
  color: white;
}



.soyuzbutton{
	background-color:black;
}

.longmarchbutton{
	background-color:black;
}

.arianebutton{
	background-color:black;	
}

.deltabutton{
	background-color:black;
}

.saturnbutton{
	background-color:black;
	position: absolute;
    top: 385px;
    left: 8px;

}

.geminibutton{
	position: absolute;
    top: 385px;
    left: 188px;	
}

.mercurybutton{
	background-color:black;
	position: absolute;
    top: 385px;
    left: 369px;	
}

.slvbutton{
	position: absolute;
    top: 385px;
    left: 549px;	
}

.athenabutton{
	background-color:black;
	position: absolute;
    top: 385px;
    left: 729px;
}

.minotaurbutton{
	position: absolute;
    top: 385px;
    left: 909px;
}

.otherrocketbutton{
	background-color:black;
	position: absolute;
    top: 385px;
    left: 1089px;
}


.starsbutton{
	background-color:black;
	position: absolute;
    left: 450px;
}

.galaxybutton{
	position: absolute;
	top:380px;
    left: 10px;
}



.coolstuff {
   width: 350px;
   height: 600px;
   border: 5px solid gray;
   margin: 0;
   font-size:25px;
}


.extras{
	width:1000px;
	height:300px;
	border:4px solid gray;
	margin:0;
	font-size:20px;
}



#blackholeimage{
	position: absolute;
    top: 120px;
    left: 717px;

}

#marsimage{
	position: absolute;
    top: 120px;
    left: 1008px;
}

#starhopperimage{
	position: absolute;
    top: 120px;
    left: 1308px;	
}

#roverimage{
	position: absolute;
    top: 401px;
    left: 717px;	
}

#bluedotimage{
	position: absolute;
    top: 401px;
    left: 1076px;	
}

#nebulaimage{
	position: absolute;
    top: 401px;
    left: 1253px;	
}

#falconheavyimage{
	position: absolute;
    top: 120px;
    left: 393px;	
}

#falcon1image{
	height:300px;
	width:200px;
}

#falcon9image{
	height:300px;
	width:200px;
}

#falconheavyimage2{
	height:300px;
	width:200px;
}

.falcontable{
	position:absolute;
	top:200px;
	left:300px;
}

#falconcomparsion{
	position:absolute;
	top:440px;
	left:250px;
	height:600px;
	width:1150px;
}

#quasarimage{
	position:absolute;
	top:110px;
	left:870px;

}

#schwarzchild{
	position:absolute;
	top:1660px;
	left:1210px;
}

.schwarzchildradiusexplaination{
	position:absolute;
	border:solid gray;
	top:1910px;
	left:410px;
}

#spacetimeimage{
	position:absolute;
	top:2361px;
	left:350px;
}

#lensing{
	position:absolute;
	top:2360px;
	left:80px;
}

#blackholelensingimage{
	position:absolute;
	top:2150px;
	left:1030px;	
}

.iscoformulaexplanation{
	position:absolute;
	top:2890px;
	left:830px;
	border:solid gray;
}


#geminilogo{
	position:absolute;
	top:99px;
	left:1313px;
	border:solid gray;
}

.geminitable{
	position : absolute;
	top :360px;
	left:330px;
}

#titanrocket{
	position : absolute;
	top : 455px;
	left : 330px;
}

.geminimissions{
	font-size:24px;
}

#agenaimage{
	position:absolute;
	top:2150px;
	left:1230px;	
}

#gemini8image{
	position:absolute;
	top:2480px;
	left:1000px;
}
	
#gemini6Aimage{
	position:absolute;
	top:2480px;
	left:1245px;
}

#mercurylogo{
	position:absolute;
	top:70px;
	left:1344px;
}

#mercuryvehicles{
	position:absolute;
	top:260px;
	left:1087px;
}

.mercuryvehicles{
	position:absolute;
	top:493px;
	left:1080px;
	border : solid white;
}
#apollosymbol{
	position:absolute;
	top:75px;
	left:1344px;
}
.rocketequationexplanation{
	position:absolute;
	top:195px;
	left:490px;
}

#writehere{
   font-size:24px;
}

.enterbutton{
   font-size:15px;
   padding: 10px 40px;
}

.enterbutton:hover{
   background-color:red;
}

.futurebutton{
	background-color:black;
	position: absolute;
    top: 385px;
    left: 1269px;
}

.futurerocketlist{
	font-size:24px;
}

#neutronimage{
	position:absolute;
	top:280px;
	left:900px;
}

#butterfly{
	position:absolute;
	top:450px;
	left:900px;
}
#fusionlabel{
	position:absolute;
	top:1080px;
	left:180px;
	font-size:15px;
	font-weight:light;
}
#nebulalabel{
	position:absolute;
	top:960px;
	left:960px;
	font-size:15px;
	font-weight:light;
}

#radiationlabel1{
	position:absolute;
	top:2100px;
	left:250px;
}
#radiationlabel2{
	position:absolute;
	top:2100px;
	left:980px;
}
#whynogreen{
	position:absolute;
	border:solid white;
	
}
#hrlabel{
	position:absolute;
	top:4737px;
	left:710px;
}

#soyuzu{
	position:absolute;
	top:1770px;
	left:1260px;
}

#soyuz21a{
	position:absolute;
	top:2670px;
	left:1250px;	
}

#soyuzfg{
	position:absolute;
	top:2200px;
	left:1270px;	

}
#atlasablelaunchimage{
	position:absolute;
	top:1800px;
	left:1300px;
}
#eorfimage{
	position:absolute;
	top:3730px;
	left:1290px;
}
#atlas1image{
	position:absolute;
	top:4140px;
	left:1290px;
	
}

#atlas2asimage{
	position:absolute;
	top:4140px;
	left:1110px;
}

#atlas401image{
	position:absolute;
	top:4680px;
	left:1310px;
}

#delta2{
	position:absolute;
	top:1380px;
	left:1210px;

}


















